<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">

<div class="wrapper mx-auto mb-4">
    <div class="row padding">
        <div class="col-md-4">
            <a href="/quiz/play/Television/0" style="text-decoration: none;">
                <div class="card text-center mt-3">
                    <div class="card-img-top">
                        <img src="/images/televisions.png">
                        <div class=" card-body">
                            <h5 class="card-title">Tv Shows</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/quiz/play/Space/0" style="text-decoration: none;">
                <div class="card text-center  mt-3">
                    <div class="card-img-top">
                        <img src="/images/space.png">
                        <div class=" card-body">
                            <h5 class="card-title">Space</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/quiz/play/Nature/0" style="text-decoration: none;">
                <div class="card text-center  mt-3">
                    <div class="card-img-top">
                        <img src="/images/nature.png">
                        <div class=" card-body">
                            <h5 class="card-title">Nature</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row padding">
        <div class="col-md-4">
            <a href="/quiz/play/Movie/0" style="text-decoration: none;">
                <div class="card text-center mt-3">
                    <div class="card-img-top">
                        <img src="/images/movie.png">
                        <div class=" card-body">
                            <h5 class="card-title">Movies</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/quiz/play/Sports/0" style="text-decoration: none;">
                <div class="card text-center  mt-3">
                    <div class="card-img-top">
                        <img src="/images/sport.png">
                        <div class=" card-body">
                            <h5 class="card-title">Sports</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/quiz/play/History/0" style="text-decoration: none;">
                <div class="card text-center  mt-3">
                    <div class="card-img-top">
                        <img src="/images/history.png">
                        <div class=" card-body">
                            <h5 class="card-title">History</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
